body {

    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

     background-image: url(../vinyl.jpg);
     background-size: 1440px 800px;
     background-repeat:no-repeat;
     display: compact;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Navbar Classes */
a {
    color: #00B7FF;
}

.form-control {
	margin: 5px 0px;
}

.submitButton {
	margin-top: 5px;
}

#loginForm {
	margin-top: 20px
}

#logo {
  font-size: 30px
}

.nav-item {
  margin-top: 8px;
  font-size: 16px;
}

.navbar {
  padding: 27px;
}

/* Layout Options */
.content {
  padding-top: 40px;
}

/* Flexbox Classes */
.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
/* Switch to column view when small */
@media (max-width: 768px) {
  .flexContainer {
    flex-direction: column;
  }
}

/* Atom Prototype: h: 267, w: 200
   Original Sizes: h: 468 , w: 318
*/
.flexBox {
  height: 468px;
  width: 318px;
  margin: auto;
  margin-top: 25px;
}

/* Footer Controls */
#footer {
  color: white;
  text-align: center
}
