body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
     /*background: linear-gradient(to top, #09203f 0%, #29323c 0%, #485563 100%, #537895 100%);*/
     display: compact;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bodyBackground {
   background-image: url(../assets/vinyl2.jpg);
   background-size: 100% 100%;
   background-repeat:no-repeat;
   background-attachment: fixed;
   min-height: 100vh;
}

.bodyOverlay {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  color: white;
}
/* Navbar Classes */
a {
    color: #00B7FF;
}

.form-control {
	margin: 5px 0px;
}

#loginform {
}

#searchform {
    margin-right: 60px
}

#searchbtn{
    margin-left: 3 px;
}

#logo {
  font-size: 30px
}

.nav-item {
  margin-top: 8px;
  font-size: 16px;
}

.navbar {
  padding: 27px;
}

/* Layout Options */
.content {
  padding-top: 40px;
}


/* Atom Prototype: h: 267, w: 200
   Original Sizes: h: 468 , w: 318
*/
/* Flexbox Classes */
.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

/* Switch to column view when small */
@media (max-width: 768px) {
  .flexContainer {
    flex-direction: column;
  }
}

.flexBox {
  height: 340px;
  width: 250px;
  margin: auto;
  margin-top: 25px;
  border: 1px solid darkslategrey;
  box-sizing: border-box;
}

.smallCard {
  overflow: hidden;
  border-radius: .75rem;
}

.smallCardBlock {
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  padding: 0.7rem;
  overflow: scroll;
}

.smallCardImage {
  padding: 0;
  height: 250px;
}

.albumName {
  display: inline-block;
}

.albumArtist {
  color: grey;
}


.productPrice {
  float: right;
  text-align: center;
  line-height: 32px;
  vertical-align: center;
}

.cardOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 250px;
  background-color: rgba(0, 0, 0, .5);
  display: none;
}

/* CARD for SINGLE PRODUCT PAGE */
.singleProdCard {
  color: black;
  margin: auto;
  max-width: 600px;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  padding: 0.7rem;
  border-radius: .75rem;
}

.productImage {
  /*height: 450px;*/
  /*width: 450px;*/
  margin: auto;
  height: 500px;
  width: 500px;
}

/* 318 - 267 */
.cardControls {
  position: absolute;
  left: 0;
  top: 220px;
  width: 248px;
  height: 30px;
  color: black;
  background-color: grey;
  display: block;
  border-bottom: 1px solid darkslategrey;
  /*border-top: 1px solid darkslategrey;*/
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  box-sizing: border-box;
  padding: 4px 20px;
  display: none;
}

.cardImgHolder:hover > div.cardOverlay > div.cardControls {
  display: block;
}

.cardImgHolder:hover > div.cardOverlay {
  display: block;
}

.cardControlButtons {
  margin: auto;
  width: 123px;
  padding: 0;
}

.cardControlButtons > li {
  padding: 2px;
  display: inline-block;
}

.cardListItem {
  margin-left: 1px;
}

/* Footer Controls */
.footer {
  position: fixed;
  bottom: 0;
  color: white;
  text-align: center;
  width: 100%;
  padding: 5px;
}

.footerHR {
  margin: 0;
}

.footerText {
  padding: 10px;
  margin-top: 3px;
}
